/*------ Subscription css --------*/
._design_subscription_wrapper {
	padding: 80px 0px;
    background: var(--bg);
}
._shape_1 {
    width:100%;
    height:auto;
    display:block;
}
._shape_3 {
    width:100%;
    height:auto;
    display:block;
}
._design_subscription_box {
	background: #F8F8F8;
	border-radius: 30px;
	padding:80px 70px;
	position:relative;
}
._subscription_shape1 {
    position: absolute;
    top: 0;
    left: 104px;
}
._subscription_shape2 {
    position: absolute;
    top: -34px;
    left: 68%;
    transform: translateX(-68%);
}
._subscription_shape3 {
    position: absolute;
    bottom: -28px;
    left: 54%;
    transform: translateX(-54%);
}
._design_subscription_box_content_item {
    display: flex;
    justify-content: space-between;
}
._design_subscription_box_content_title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: -0.01em;
    color: #192430;
    max-width: 66%;
	margin:0 0 24px 0;
}
._design_subscription_box_content_item_para {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #727272;
    max-width: 38%;
}
._design_subscription_box_content_item_link {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    background: linear-gradient(180deg, #706DFF 0%, #A34DFF 100%);
    border-radius: 32px;
    padding: 22px 47px;
	transition: .2s all ease;
	display: block;
    height: 64px;
    text-decoration: none;
}
._design_subscription_box_content_item_link:hover {
	background: linear-gradient(180deg, #A34DFF 0%, #706DFF 100%);
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    color:#fff;
}
/*---- Responsive ----*/
@media(max-width:1199px) {
	._design_subscription_box_content_title {
		font-size: 40px;
	}
}
@media(max-width:991px) {
	._design_subscription_box_content_title {
		font-size: 26px;
		line-height: 50px;
	}
	._design_subscription_box_content_item_para {
		max-width: 100%;
		margin:0 0 30px 0;
	}
	._design_subscription_box_content_item {
		flex-direction: column;
	}
	._design_subscription_box_content_item_link {
		width: fit-content;
	}
}
@media(max-width:767px) {
	._design_subscription_box_content_title {
		font-size: 19px;
		line-height: 36px;
	}
	._subscription_shape3 {
		width: 50px;
	}
}
@media(max-width:575px) {
	._design_subscription_box {
		padding: 80px 14px;
	}
	._design_subscription_box_content_item_link {
		font-size: 15px;
		padding: 19px 24px;
		height: 58px;
		margin:0 auto;
	}
	._design_subscription_box_content {
		text-align: center;
	}
	._design_subscription_box_content_title {
		margin: 0 auto 24px auto;
	}
	._subscription_shape2 {
		display:none;
	}
}
/*------ Subscription css End --------*/